body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      background-color: white;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 1.5rem 2rem 0 2rem;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
    }